.product-form-page {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 48px 0 80px;
    box-sizing: border-box;
}

.product-form-container {
    width: 660px;
}

.page-title {
    margin: 0 0 32px 0;
    font-family: Inter, system-ui, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.38;
    color: #111827;
    text-align: left;
}

